#EmailActivity-panel {
  margin-top: 1em;
}

.emailActivity-card {
  max-width: 300px;
  display: block;
}

.emailActivity-wrapper {
  justify-content: space-evenly;
}

.EmailActivityCard:hover {
  background-color: #F3F2F2;
  transition: background-color 250ms linear;
}